
/* 

.top-of-contacts {
    flex-direction: column;
    border:solid;
}

.button-container{
    border:solid;
    display: flex;
    flex-direction: row;
}

.button-container h1 {
    position: fixed;
    left: 40vw;
}

.contacts-table{
    border-collapse: collapse;
    font-size: .9em;
    min-width: 100%;
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 1px solid black;

} */

.contacts-table-container{
    margin-bottom: 2rem;
    overflow: scroll;
    /* IMPORTANT CHANGE VIEW BOX HEIGHT */
    max-height: 70vh;
}

.table {
    cursor:pointer;
}

.page-header{
    margin-left: 2rem;
    margin-bottom: 1rem;
}
/* 
.contacts-table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;

}
.contacts-table thead {
    position: sticky;
    top: 0;
    border-top: solid white;
}

.contacts-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.contacts-table th {
    padding: 12px 15px;
    border: 1px solid black;
    height: 3rem;
    max-height: 3rem;
    overflow: scroll;
}


.contacts-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.contacts-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.contacts-table tbody tr:hover {
    background-color: royalblue;
}

.contacts-table td {
    padding: 12px 15px;
    border: 1px solid black;
    height: 2rem;
    max-height: 2rem;
    overflow: scroll;
}

.new-contact {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px; 
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5px;
} 

.button_icon, .button_text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
}

.button_icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08)
}
.new-contact-navlink {
    text-decoration: none;
} */
