/* 
 .header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: red;
}

.header_left {
    border: solid;
    padding: 15px;

}

.header_left .logo{
    background-color: yellow;
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
    padding: 3px;
} */

/* .header_right{
    border: solid;
    height: default;
} */
/* 
 .header {
    width: 100%;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
    padding: 10px;
    background-color: orange;
    border: solid;

} 

.header_left {
    display:flex;
}

.header_right {
    display: flex;
}

.header_search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: lightgray;
    background-color: purple;
}

.header_search .materials-icons {
    margin-right: 5px;
}

.header_search input {
    outline: none;
    border: solid;
    background: none;
}

.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}

.headerOption:hover {
    color: royalblue;
}

.headerOption h3 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: default;
}

.headerOption_icon {
    margin-right: default;
    height: 20px;
    width: 20px;
}

.link {
    text-decoration: none;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.navbar {
    margin: auto;
    padding-top: .5px;
    width: 95%;
    text-align: center;

}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.2em;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 20px;
    background-color: pink;
}

.nav-item {
    background-color:pink;
    padding: 5px;
    width: 100px;
    transition: 0.1s;
}



 */
