a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.navbar {
    margin: auto;
    /* border-style: solid; */
    padding-top: .5px;
    width: 95%;
    text-align: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.2em;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 20px;
    /* padding-bottom: 10px; */
    background-color: pink;
}

.nav-item {
    background-color:pink;
    padding: 5px;
    width: 100px;
    transition: 0.1s;
}




/* Trying to do the below with my .nav-item & .nav-item:hover to make it grow on hover.*/
/* .test {
    background-color: orange;
    width: 100px;
    height: 100px;
    transition: width 2s;
}

.test:hover {
    width: 300px;
} */