.delete-contact, .update-contact {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px; 
    /* overflow: hidden; */
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5px;
}

.button_icon, .button_text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
    vertical-align:middle
}

.button_icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
    vertical-align:middle;
}

.contact-card {
    padding: 10px 1%;
    color: #626262;
    border: solid;

}

.profile-details {
    margin: 10px;
    /* background: red; */
    padding: 20px;
    border: solid;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: fit-content;
    min-width: 92vw;
}

.pd-left .pd-row .left-body {
    border: solid;
}

.pd-left .pd-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    border: solid;
}

.pd-left .pd-row .contact-company {
    cursor: pointer;
    border: solid;
}


img {
    width: 150px;
    height: 150px;
    border: solid;
}


.pd-left .pd-row p {
    font-size: 10px;
    border: solid;
    max-width: 20vw;
}

.pd-left .pd-row .materials-icons{
    cursor: pointer;
    margin: 5px;
    display: flex;
    border:solid;
    align-items: center;

}
.pd-left .pd-row .image-div {
    border:solid;
    display:flex;

    width: 100%;
}

.pd-mid{
    border: solid;
    margin: 0 10px;
}




.pd-right .contact-company-logo {
    cursor: pointer;
    border: solid;
}

.pd-right .company-products {
    cursor: pointer;
    border: solid;
    width: max-content;
}
.pd-right .colleagues {
    cursor: pointer;
    border: solid;
}



.pd-right {

    /* background: blue; */
    border: solid;
    /* border: 0; */
    outline: 0;
    /* padding: 6px 10px; */
    /* display: inline-flex; */
    color: black;
    border-radius: 3px;
    padding: 15px;
    margin-right: 1vw;
    margin-top: 1vw;

}

.pd-right .pd-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 10px;
    border: solid;
}

.pd-right .pd-row .company-name {
    cursor: pointer;
    display: flex;
    border: solid;
    margin:5px;
    vertical-align: middle;
}

.span-icon, .span-content {
    background-color: red;
    margin: 5px;
    vertical-align: middle;
    align-items: center;
}
