/* * {
    border: solid;
} */


.new-contact {
    text-align: center;
}
.form-header {
    align-items: center;
}

.delete-contact, .update-contact {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px; 
    /* overflow: hidden; */
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5px;
}

.button_icon, .button_text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
    vertical-align:middle
}

.button_icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
    vertical-align:middle;
}

.contact-card {
    padding: 10px 1%;
    /* border: solid; */

}

.profile-details {
    margin: 10px;
    /* background: red; */
    padding: 20px;
    /* border: solid; */
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: fit-content;
    min-width: 92vw;
}

.pd-image {
    border: 3px solid grey;
    border-radius: 20px;
    width: 30rem;
    height: auto;
}

.pd-left .pd-row .left-body {
    border: solid;
    width: 300px;
}

.pd-left .pd-row .left-body p{
    border: solid;
    min-width: 100%;

}

.pd-left .pd-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    /* border: solid; */
}

.pd-left .pd-row .contact-company {
    cursor: pointer;
    /* border: solid; */
}

.pd-left .pd-row p {
    font-size: 10px;
    /* border: solid; */
    max-width: 20vw;
}
.bio {
    font-size:xx-large
}

.pd-left .pd-row .materials-icons{
    cursor: pointer;
    margin: 5px;
    display: flex;
    /* border:solid; */
    align-items: center;

}
.pd-left .pd-row .image-div {
    /* border:solid; */
    display:flex;
    position: relative;
}

.a-tag-div{
display: flex;
position: absolute;
bottom: 0;
right: 2rem;
font-size: 1.5rem;

}




.pd-mid{
    /* border: solid; */
    margin: 0 10px;
    min-width: 50vw;

}

.note-button {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px; 
    /* overflow: hidden; */
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5px;
}

.note_button_icon, .note_button_text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
    vertical-align:middle
}

.note_button_icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
    vertical-align:middle;
}

.note-form {
    display: flex;
    align-items: center;
}

.note-input {
    margin: 5px;
    min-width: 35vw;
    height: 10vw;
    color: black;
    border-radius: 5px;

}

.note-div {
    margin-top: 10px;
    background-color: beige;
    padding: 5px;
    /* border: 1px solid grey; */
    border-radius: 5px;
}

.note-timestamp {
    margin: 10px;
    font-size:.7em;
    color: black;
}

.note {
    list-style: none;
    margin: 10px;
    color: black;
}


.pd-right .contact-company-logo {
    cursor: pointer;
    /* border: solid; */
    width: 20rem;
    height: auto;
    
}

.pd-right .company-products {
    cursor: pointer;
    /* border: solid; */
    width: max-content;
    list-style: none;
}
.pd-right .colleagues {
    cursor: pointer;
    /* border: solid; */
    list-style: none;
}



.pd-right {

    /* background: blue; */
    border: solid;
    /* border: 0; */
    outline: 0;
    /* padding: 6px 10px; */
    /* display: inline-flex; */
    border-radius: 3px;
    padding: 15px;
    margin-right: 1vw;
    margin-top: 1vw;

}

.pd-right .pd-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 10px;
    /* border: solid; */
}

.pd-right .pd-row .company-name {
    cursor: pointer;
    display: flex;
    /* border: solid; */
    margin:5px;
    vertical-align: middle;
}

.span-icon, .span-content {
    margin: 5px;
    vertical-align: middle;
    align-items: center;
}
