/* * {
    border: solid;
} */

.card {
    padding: 10px 1%;
    position: relative;

}

.card-header {
    position: absolute;
    top: -5vh;
    right: 17vw;
}

.card-button {
    margin: 2rem;
}

.new-contact {
    text-align: center;
}
.form-header {
    align-items: center;
}

.delete-contact, .update-contact {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px; 
    /* overflow: hidden; */
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5px;
}

.button_icon, .button_text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
    vertical-align:middle
}

.button_icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
    vertical-align:middle;
}



.profile-details {
    margin: 10px;
    /* background: red; */
    padding: 20px;

    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: fit-content;
    min-width: 92vw;
}

.pd-image {
    border: 3px solid grey;
    border-radius: 20px;
    width: 30rem;
    height: auto;
}
.pd-left {
    margin: 1rem;
}


.pd-left .pd-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
}

.pd-left .pd-row .contact-company {
    cursor: pointer;
}

.company-name {
    cursor: pointer;
}

.pd-left .pd-row p {
    font-size: 10px;
    max-width: 20vw;
}
.bio {
    font-size:x-large
}

.pd-left .pd-row .materials-icons{
    cursor: pointer;
    margin: 5px;
    display: flex;
    align-items: center;

}
.pd-left .pd-row .image-div {
    display:flex;
    position: relative;
}

.a-tag-div{
display: flex;
position: absolute;
bottom: 0;
left: 1rem;
font-size: 1.5rem;
margin: 1rem;
}


.modal-div {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 1rem;
}

.pd-row .general-info {
    margin: 1rem;
}

.pd-mid{
    margin: 0 10px;
    min-width: 50vw;

}

.note-button {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px; 
    /* overflow: hidden; */
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5px;
}

.note_button_icon, .note_button_text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
    vertical-align:middle
}

.note_button_icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
    vertical-align:middle;
}

.note-form {
    display: flex;
    align-items: center;
}

.note-input {
    margin: 5px;
    min-width: 35vw;
    height: 10vw;
    color: black;
    border-radius: 5px;

}

.note-div {
    margin-top: 10px;
    background-color: beige;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.note-timestamp {
    margin: 10px;
    font-size:.7em;
    color: black;
}

.note {
    list-style: none;
    margin: 10px;
    color: black;
}

.pd-right {


    outline: 0;
    border-radius: 3px;
    padding: 15px;
    margin: 1rem;

}


.company-logo {
    cursor: pointer;
    width: 20rem;
    height: auto;
    
}

.company-products {
    cursor: pointer;
    width: max-content;
    list-style: none;
}


.pd-right .colleagues {
    cursor: pointer;
    list-style: none;
}





.pd-right .pd-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 10px;
}

.pd-right .pd-row .company-name {
    cursor: pointer;
    display: flex;
    margin:5px;
    vertical-align: middle;
}

.span-icon, .span-content {
    margin: 5px;
    vertical-align: middle;
    align-items: center;
}

.products-list {
    cursor: pointer;
}

.company-aggregates {
}

.user-stats {
    cursor: pointer;
    margin: 1rem;
    font-size: 2rem;
    
  }
  
  .not-available {
    cursor:not-allowed;
  }




.profile-right .pd-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 10px;
}

.profile-right .pd-row .company-name {
    cursor: pointer;
    display: flex;
    margin:5px;
    vertical-align: middle;
}

.profile-mid{
    margin: 0 10px;


}